.night,.hover-night:hover{color:#242424;}
.sky,.hover-sky:hover{color:skyblue;}
.melon,.hover-melon:hover{color:#8CD867;}
.emerald,.hover-emerald:hover{color:#2FBF71;}
.pumpkin,.hover-pumpkin:hover{color:#ED7D3A;}
.surf,.hover-surf:hover{color:#83BCFF;}

.bg-night,.hover-bg-night:hover{background-color:#242424;color:white;}
.bg-sky,.hover-bg-sky:hover{background-color:skyblue;}
.bg-melon,.hover-bg-melon:hover{background-color:#8CD867;}
.bg-emerald,.hover-bg-emerald:hover{background-color:#2FBF71;}
.bg-pumpkin,.hover-bg-pumpkin:hover{background-color:#ED7D3A;}
.bg-surf,.hover-bg-surf:hover{background-color:#83BCFF;}

.active-bg-night:active{background-color:#242424;color:white;}
.active-bg-sky:active{background-color:skyblue;}
.active-bg-melon:active{background-color:#8CD867;}
.active-bg-emerald:active{background-color:#2FBF71;}
.active-bg-pumpkin:active{background-color:#ED7D3A;}
.active-bg-surf:active{background-color:#83BCFF;}
